<html>

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="static/style.css" rel="stylesheet">

  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      text-align: center;
      color: yellow
    }

    h3 {
      text-align: center;
      color: white;
    }

    * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
</head>

<body>
  <div class="banner-text" >
    <div style="color:#0A043C" class="animation-area" style="height: 100vh;">

      <h1 style="color:#0A043C">Here is the Prediction !</h1>
      <div style="padding-top:20px;display:flex;align-items:center;
      justify-content:center;text-align:center;" >
        <div style="padding:20px;" >
          <h3  style="color:#0A043C" >Input Image</h3>
          <img src="/static/{{orig}}" alt="Original" style="width:400px;height:500px;">
        </div>
        <div style="padding:20px;">
          <h3  style="color:#0A043C">Prediction</h3>
          <img src="/static/{{pred}}" alt="Prediction" style="width:400px;height:500px;">
        </div>
      </div>
      </div>

      <div style="display:flex;flex-direction:column; align-items:center;
      justify-content:center;
      text-align:center;">
        <div class="animation-area" style="height: 100vh;display:flex;flex-direction:column; align-items:center;
        justify-content:center;text-align:center;color:#FFE3DE;background-color:#0A043C">
        <div>
          <h3 >Graphical Visualisation</h3>
          <img src="/static/{{bar}}" alt="Visualisation" style="width:400px;height:500px;padding-top:20px;">
        </div>
        </div>
      </div>



    <div style="display:flex;flex-direction:column; align-items:center;
    justify-content:center;
    text-align:center;">
      <div class="animation-area" style="height: 100vh;display:flex;flex-direction:column; align-items:center;
      justify-content:center;text-align:center;">
    <p>{{sentence}}</p>
    <div class="music">
      <p style="padding:10px">Music option 1:</p>
      <audio controls>
        <source src="/static/music/{{music}}/music1.mp3" preload="auto" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
    </div>
    <div class="music">
      <p style="padding:10px">Music option 2:</p>
      <audio controls>
        <source src="/static/music/{{music}}/music2.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
    </div>
    <div class="music">
      <p style="padding:10px">Music option 3:</p>
      <audio controls>
        <source src="/static/music/{{music}}/music3.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
    </div>
    <div class="music">
      <p style="padding:10px">Music option 4:</p>
      <audio controls>
        <source src="/static/music/{{music}}/music4.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
    </div>
    <div class="music">
      <p style="padding:10px">Music option 5:</p>
      <audio controls>
        <source src="/static/music/{{music}}/music5.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
    </div>
    <p>Music by https://www.bensound.com</p>
    </div>

      <div class="animation-area" style="height: 60vh;display:flex;flex-direction:column; align-items:center;
      justify-content:center;
      text-align:center;color:black">
        <p style="color:black;font-size:30px;">Suggested Activities</p>
        <br>
        <p style="color:black,text-align: center">{{activity}}</p>
        <a href={{link}} target="_blank">Click here </a>
        <img src="/static/images/{{image}}/img.jpg" alt="Visualisation" style="width:400px;height:500px;">
      </div>

    </div>
  </div>
  
</div>
 

</body>

</html>