<html>
  <head>
    <title>Capturing an Image</title>
    <p>Capture an Image and Save it so that we can do Graphical Visualisation of Facial Emotion </p>
  </head>

  <body>
    <h4>Capturing an Image</h4>

    <img src="{{ url_for('video_feed') }}"> <br>     
      <h4>Want to ask model to predict your emotion ?? </h4>
     <label for="input">Type predict</label>
     <input id="input" type="text" name="fname">
     <button onclick="myFunction()" type="button">Go Ahead !!</button>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
     <script>



function myFunction() {
  var name = document.getElementById("input").value;
  console.log(name);
  $.post("/takeimage",
   {
     name: name
   },
   function(data, status){
     alert("Data: " + data + "\nStatus: " + status);
   });
}
</script>
  </body>
</html>

